*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
   
}
.tab{
    display: flex;
    flex-direction: column;
    flex: 30%;
    background-color: #f1f1f1;
}
.tab a{
    text-decoration: none;
    padding: 20px;
    font: bold 20px Tahoma;
    color: #000;
}
.tab a:hover{
    background-color: #333;
    color: #fff;
}
.tab a.active{
    background-color: #ccc;
}
.main{
    
    flex: 70%;
    
}
.main .tabcontent{
    flex: 100%;
    height: 100%;
    padding: 0 12px;
    border: 1px solid #ccc;
}
